In [2]:
import pandas as pd

In [3]:
orignal_data = pd.read_csv('Data.csv')

In [4]:
cleaned_data = orignal_data.drop(['Countries','Years'],axis=1)
cleaned_data

        Y         X1         X2
0    1834  16.711498  22.091810
1    1768  16.711498  24.182819
2    1679  22.267054  24.678841
3    1756  22.267054  22.185350
4    1742  22.267054  23.218161
..    ...        ...        ...
163  1893  21.900762  13.274300
164  1975  21.900762  13.774200
165  2022  36.927217  64.132111
166  2020  40.260550  64.632170
167  2050  46.027746  65.132160

[168 rows x 3 columns]

In [5]:
import statsmodels.api as sm

In [6]:
lr_data = cleaned_data.copy()
lr_data

        Y         X1         X2
0    1834  16.711498  22.091810
1    1768  16.711498  24.182819
2    1679  22.267054  24.678841
3    1756  22.267054  22.185350
4    1742  22.267054  23.218161
..    ...        ...        ...
163  1893  21.900762  13.274300
164  1975  21.900762  13.774200
165  2022  36.927217  64.132111
166  2020  40.260550  64.632170
167  2050  46.027746  65.132160

[168 rows x 3 columns]

In [7]:
y = lr_data['Y']
x = lr_data[['X1','X2']]

In [8]:
x.corr().abs() > 0.8

       X1     X2
X1   True  False
X2  False   True

In [9]:
x = sm.add_constant(x)

In [10]:
lr_model = sm.OLS(y,x).fit()
lr_model

In [11]:
lr_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.048
Model:                            OLS   Adj. R-squared:                  0.036
Method:                 Least Squares   F-statistic:                     4.116
Date:                Sat, 06 Dec 2025   Prob (F-statistic):             0.0180
Time:                        14:38:42   Log-Likelihood:                -1419.1
No. Observations:                 168   AIC:                             2844.
Df Residuals:                     165   BIC:                             2854.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2055.8206    221.515      9.281      0.000    1618.451    2493.190
X1             5.5647      4.710      1.182      0.239      -3.734      14.863
X2            10.6950      4.192      2.551      0.012       2.418      18.972
==============================================================================
Omnibus:                       10.369   Durbin-Watson:                   0.221
Prob(Omnibus):                  0.006   Jarque-Bera (JB):                6.476
Skew:                           0.325   Prob(JB):                       0.0392
Kurtosis:                       2.292   Cond. No.                         128.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [12]:
import matplotlib.pyplot as plt

In [24]:
data_to_predict = pd.read_excel('Data_to_predict.xlsx')
data_to_predict.drop(["Countries","Years"],axis=1,inplace=True)

In [25]:
data_to_predict

       Y         X1         X2
0   1770  78.753826  35.008179
1   2380  76.708995  13.747670
2   2105  45.683598  29.150100
3   4030  73.523783  40.580304
4   3000  82.392593  64.464883
5   4385  70.394355  31.566080
6   1120  43.544927  77.411681
7   2780  69.262074  32.024720
8   2330  90.200286  11.096180
9   1780  69.883598   8.256160
10  4450  64.589333  45.668610
11  2050  46.027746  65.132160

In [30]:
x_predict = data_to_predict[['X1','X2']]
x_predict = sm.add_constant(x_predict)

In [31]:
data_predict = lr_model.predict(x_predict)

In [32]:
data_predict

0     2868.471560
1     2629.711567
2     2621.794754
3     2898.962027
4     3203.759584
5     2785.140673
6     3126.051501
7     2783.745067
8     2676.428346
9     2532.998829
10    2903.664282
11    3008.538042
dtype: float64